* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
}

.login-container {
    display: flex;
    width: 80%;
    height: 70vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-section {
    background-color: #172248;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 450px;
}

.right-section {
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 80%;
    max-width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #1c1c1e;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 12px;
    background-color: #1c2a5b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #273875;
}

.forget-password {
    text-align: right;
    margin-top: 10px;
}

.forget-password a {
    color: #012d5c;
    text-decoration: none;
    font-size: 14px;
}

.forget-password a:hover {
    text-decoration: underline;
}